@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Fonts

$font-roboto-mono: "Roboto Mono";
$font-roboto: "Roboto";

// Colors

$color-white: #FFFFFF;
$color-deep-blue: #0F021B;
$color-dark-purple: #2C1746;
$color-medium-purple: #694A81;
$color-bright-pink: #FD58FF;
$color-light-gray: #8A87AA;
$color-soft-lavender: #D7D5EB;

$weak-color: #E71B32;
$medium-color: #FAF408;
$strong-color: #00FF85;

// Font Size

$extra-small-size: 20px;
$small-size: 22px;
$medium-small-size: 24px;
$medium-size: 28px;
$large-small-size: 32px;
$large-size: 40px;

// Font Weight

$small-weight: 400;
$medium-weight: 500;
$large-weight: 700;

// Line Height 

$small-height: 22px;
$medium-small-height: 23px;
$medium-height: 28px;
$medium-large-height: 36px;
$large-height: 42px;
$extra-large-height: 52px;